
.forma_card {
    max-width: 400px;
    border-style: solid;
    box-shadow: 0 0 10PX blueviolet;
    border-color: rgb(98, 193, 161);
    border-radius: 25px;
    font-size: medium;
    margin: 10px;
    padding: 10px;
    background-color: azure;

}
.back{
    background-color:ghostwhite;
}
.form_vont{
    display: flex;
    flex-direction: row;
    align-items:start;
    flex-wrap: wrap;
    justify-content: center;
}
.tit{
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text{
    font-size: large;
    display: flex;
    flex-direction: row;
    
}
